.nav{
    background: #212529;
    height: 50px;

    .logo{
        color: white;
        position: absolute;
        display: table;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }
}